{% extends "layout.html" %}

{% block stylesheet %}
  {{ super() }}
{% endblock %}

{% block title %}starjar{% endblock %}

{% block body %}
  {{ super() }}

  <div id="strategies">
    <h1>Strategies</h1>
      <div class="row">
          <div class="plan">
            <h1>{{ strats[0].name }}</h1>
            <div>13%</div>
            <div>Annual Return</div>
            <div>$10/month</div>
            <a href="{{ url_for('strategy.strategy_details',
                                strategy_name=strats[0].name|dashify) }}">Details</a>
            <a class="btn">Subscribe</a>
          </div>
          <div class="plan">
            <h1>More strategies coming soon!</h1>
          </div>
      </div>
  </div>
{% endblock %}
