{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block body %}
  <div id="login">
    <form action="{{ url_for('user.login') }}" method="post">
      <h1>Log in to EquityBuilder</h1>
      {{ form.email(placeholder='Email Address') }}
      {{ form.password(placeholder='Password') }}
      {{ form.hidden_tag() }}
      <button type="submit" class="btn">Log In</button>
      <div><a href="{{ url_for('user.forgot_password') }}">Forgot Password?</a></div>
    </form>
    <div>Don't have an account? <a href="{{ url_for('user.signup') }}">Sign Up</a></div>
  </div>
{% endblock %}
