{% extends "layout.html" %}

{% block title %}Reset Password{% endblock %}

{% block body %}
  <div id="password-reset">
    <form action="{{ url_for('user.password_reset', token=token) }}" method="post">
      <h1>Reset Password</h1>
      {% if form.errors %}
        <ul class="field-error">
          {% for error in form.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {{ form.password(placeholder='Password') }}
      {{ form.hidden_tag() }}
      <button type="submit" class="btn">Update my password</button>
    </form>
  </div>
{% endblock %}
