@import "fonts";

#about {
  margin-top: 40px;
  font-family: $open-sans;

  h1 {
    font-size: 36px;
    font-weight: $open-sans-normal;
    color: #444;
  }

  p {
    font-size: 18px;
    font-weight: $open-sans-normal;
    color: #9B9B9B;
    line-height: 33px;
  }

  
}
