@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Lato:400,300,700);
$open-sans: 'Open Sans', sans-serif;
$open-sans-light: 300;
$open-sans-normal: 400;
$open-sans-bold: 700;
$lato: 'Lato', sans-serif;
$lato-light: 300;
$lato-normal: 400;
$lato-bold: 700;
