@import "button";
@import "fonts";

.content {
  padding-left: 80px;
  padding-right: 80px;
  max-width: 1120px;
  min-width: 958px;
  margin: 0 auto;
}

@mixin section() {
  .btn {
    font-family: $lato;
    font-weight: $lato-bold;
    font-size: 18.94px;
    color: #FFF;
    border-radius: 4px;
    border: none;
  }

  .fa.fa-arrow-right {
    margin-left: 10px;
  }
}

#investing-made-simple {
  @include section()
  padding-top: 36px;
  padding-bottom: 106px;

  a {
    text-decoration: none;
  }

  .container {
    display: flex;
    flex-direction: row;

    .btn {
        @include button(185px, 50px);
        background: #00A081;
        font-family: $open-sans;
        font-weight: $open-sans-bold;
        font-size: 18.94px;
        color: #FFFFFF;
        line-height: 26px;
        margin-top: 30px;
    }

    .left {
      max-width: 464px;
    }
    
    .right {
      padding-top: 76px;
      margin-left: 96px;
    }

    h1 {
      font-family: $open-sans;
      font-weight: $open-sans-normal;
      font-size: 36px;
      color: #4A4A4A;
    }

    h2 {
      font-family: $open-sans;
      font-weight: $open-sans-light;
      font-size: 24px;
      color: #4A4A4A;
    }

    img {
      width: 452px;
      height: 215px;
    }
  }
  
}

#the-strategy {
  @include section()
  background: #F3F5F7;
  padding-top: 20px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
  }

  h1 {
    font-family: $open-sans;
    font-weight: $open-sans-normal;
    font-size: 36px;
    color: #4A4A4A;
    text-align: center;
    margin-bottom: 42px;
  }

  .max-loss, .annual-return, .total-return {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .annual-return {
    width: 340px;
  }

  .max-loss {
    width: 340px;
  }

  .total-return {
    width: 340px;
  }

  .stat {
    font-family: $lato;
    font-weight: $lato-light;
    font-size: 64px;
    color: #4A4A4A;
  }

  .stat-label {
    font-family: $lato;
    font-weight: $lato-light;
    font-size: 24px;
    color: #4A4A4A;
  }

  .stat-description {
    margin-top: 15px;
    font-family: $lato;
    font-weight: $lato-light;
    font-size: 18px;
    text-align: center;
    color: #999999;
    line-height: 27px;
  }

  .btn {
    @include button(185px, 50px);
    background: #00A081;
    font-family: $open-sans;
    font-weight: $open-sans-bold;
    font-size: 18.94px;
    color: #FFFFFF;
    line-height: 26px;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
  }
}

#how-it-works {
  @include section()
  padding-bottom: 56px;
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-family: $open-sans;
    font-weight: $open-sans-normal;
    font-size: 36px;
    color: #4A4A4A;
    text-align: center;
  }

  i {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 72px;
    color: #4A4A4A;
  }

  h2 {
    font-family: $lato;
    font-weight: $lato-light;
    font-size: 36px;
    color: #4A4A4A;
    text-align: center;
  }

  p {
    font-family: $lato;
    font-weight: $lato-light;
    font-size: 18px;
    text-align: center;
    width: 400px;
  }

  .steps {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

  }

  .btn {
    @include button(185px, 50px);
    font-family: $open-sans;
    font-weight: $open-sans-bold;
    font-size: 18.94px;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 60px;
    background: #00A081;
  }
}

#why-us {
  @include section()
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F3F5F7;

  h1 {
    font-family: $open-sans;
    font-weight: $open-sans-normal;
    font-size: 36px;
    color: #4A4A4A;
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;

    ul {
      font-family: $lato;
      font-weight: $lato-light;
      font-size: 24px;
      color: #4A4A4A;

      li:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .btn {
    @include button(185px, 50px);
    font-family: $open-sans;
    font-weight: $open-sans-bold;
    font-size: 18.94px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 60px;
    background: #00A081;
  }

}

hr {
  border-top: 1px solid #DDD;
  margin: 0 0 0 0;
}



