
%landing-page-defaults {

  h1 {
    font-family: OpenSans;
    font-size: 48px;
  }

  h2 {
    font-family: OpenSans-Light;
    font-size: 28px;
    line-height: 40px;
  }

  .btn {
    font-family: Lato-Bold;
    font-size: 18.94px;
    color: #FFF;
    margin-top: 30px;
    border-radius: 4px;
    border: none;
    padding-top: 11px;
  }

  .fa.fa-arrow-right {
    margin-left: 10px;
  }
}
  
#investing-made-simple {
  @extend %landing-page-defaults;
  margin-top: 160px;
  margin-bottom: 133px;
  width: 850px;

  .btn {
    width: 185px;
    height: 50px;
    background: #2185D0;
  }
}

// TODO: Make margin between step1 and step2 bigger?
#how-it-works {
  @extend %landing-page-defaults;
  margin-top: 30px;
  margin-bottom: 80px;
  width: 1000px;

  div.row {
    margin-top: 20px;
    margin-left: 5%;
    /*div:nth-child(2) {*/
      /*padding-left: 60px;*/
    /*}*/
  }

  p {
    font-family: OpenSans-Light;
    font-size: 18px;
    display: flex;
  }

 .btn {
    width: 185px;
    height: 50px;
    background: #417505;
    margin-top: 50px;
  }  
}

#why-us {
  @extend %landing-page-defaults;
  width: 970px;
  margin-top: 30px;
  margin-bottom: 70px;

  ul {
    margin-top: 30px;
    font-family: OpenSans-Light;
    font-size: 24px;

    li {
      margin-bottom: 20px;
    }
  }

  .btn {
    margin-top: 40px;
    width: 185px;
    height: 50px;
    background: #2185D0;
  }

}

hr {
  border-top: 1px solid #DDD;
}
