@import "button";
@import "fonts";

@mixin section() {
  h1 {
    font-family: $open-sans;
    font-weight: $open-sans-normal;
    font-size: 48px;
  }

  h2 {
    font-family: $open-sans;
    font-weight: $open-sans-light;
    font-size: 28px;
  }

  .btn {
    font-family: $lato;
    font-weight: $lato-bold;
    font-size: 18.94px;
    color: #FFF;
    border-radius: 4px;
    border: none;
  }

  .fa.fa-arrow-right {
    margin-left: 10px;
  }
}

#investing-made-simple {
  @include section()
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 500px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    text-align: center;

    .btn {
        @include button(185px, 50px);
        background: #2185D0;
        margin-top: 20px;
    }

    h1 {
      margin: 0 0 0 0;
    }
  }
  
}

#how-it-works {
  @include section()
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-family: $open-sans;
    font-weight: $open-sans-light;
    font-size: 18px;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .left {
      width: 380px;
      height: 180px;
    }

    .right {
      margin-left: 80px;
      width: 380px;
      height: 180px;
    }
  }

  .btn {
    @include button(185px, 50px);
    background: #417505;
    margin-top: 50px;
    margin-bottom: 60px;
  }
}

#why-us {
  @include section()
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;

    ul {
      font-family: $open-sans;
      font-weight: $open-sans-light;
      font-size: 24px;

      li:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .btn {
    @include button(185px, 50px);
    background: #2185D0;
    margin-top: 30px;
    margin-bottom: 70px;
  }

}

hr {
  border-top: 1px solid #DDD;
}
