// TODO: Change so contents of navbar dont go verticle when screen gets smaller.
// This can be sloved by using no wrap

@import "button";
@import "fonts";

/* Global 
-------------------------------------------------- */
a {
  &:hover {
    cursor: pointer;
  }
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 104px;
}

/* Custom page CSS
-------------------------------------------------- */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
  height: 60px;

  a {
    text-decoration: none;
  }

  .logo {
    font-family: $open-sans;
    font-weight: $open-sans-normal;
    font-size: 28px;
    color: #000000;
  }
  
  .left {
    display: flex;
    align-items: center;
    margin-left: 50px;

    .item {
      font-family: $open-sans;
      font-weight: $open-sans-light;
      font-size: 16px;
      color: #000000;
      margin-left: 30px;
      margin-top: 5px;
    } 
  }

  .right {
    display: flex;
    margin-right: 50px;
    justify-content: space-between;

    .dropdown {
      &:hover > .menu {
        display: block;
      }
    }

    .text {
      display: inline;
      font-family: $lato;
      font-weight: $lato-normal;
      font-size: 14px;
    }

    i {
      vertical-align: middle;
      margin-bottom: 7px;
    }
    
    .menu {
      cursor: auto;
      position: absolute;
      display: none;
      outline: none;
      min-width: -webkit-max-content;
      min-width: -moz-max-content;
      min-width: max-content;
      margin: 0em;
      padding: 0em 0em;
      background: #FFFFFF;
      font-size: 1em;
      text-shadow: none;
      text-align: left;
      box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
      border: 1px solid rgba(34, 36, 38, 0.15);
      border-radius: 0.28571429rem;
      -webkit-transition: opacity 0.1s ease;
      transition: opacity 0.1s ease;
      z-index: 11;
      will-change: transform, opacity;
      font-family: $lato;
      font-weight: $lato-normal;
      font-size: 14px;

      .item {
        margin-top: 2px;
        margin-left: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
      }

      .item a {
        text-decoration: none;
        color: #000;
      }
    }

    .btn {
      @include button(80px, 30px);
      font-family: $lato;
      font-weight: $lato-bold;
      font-size: 14px;
      color: rgba(0,0,0,0.60);
      background: #E0E1E2;
      border-radius: 4px;
    }

    .btn + .btn {
      margin-left: 20px;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 104px;
  background: #EDEFF1;  
  display: flex;
  align-items: center;
  color: #5A5A5A;

  .logo {
    font-family: $lato;
    font-weight: $lato-normal;
    font-size: 28px;
    margin-left: 50px;
  }

  .item {
    color: inherit;
    text-decoration: none;
    margin-left: 30px;
    font-family: $lato;
    font-weight: $lato-bold;
    font-size: 14px;
    margin-top: 10px;
  }

}
