@import "fonts";

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  left: 0;
  /*background: #FCFCFC;*/

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 418px;
    height: 382px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.50);
    border-radius: 3px;
    margin-top: 68px;

    h1 {
      font-family: $lato;
      font-weight: $lato-normal;
      margin-top: 28px;
      margin-bottom: 0px;
      color: #4A4A4A
    }

    ::-webkit-input-placeholder {
      font-family: $lato;
      font-weight: $lato-normal;
      font-size: 18px;
      color: #B2B2B2;
      line-height: 22px;
    }

    #email {
      margin-top: 39px;
      width: 286px;
      height: 22px;
      background: #FFFFFF;
      border: 2px solid #C9C9C9;
      border-radius: 3px;
      font-size: 18px;
      padding: 15px 15px 15px 15px;
    }

    #password {
      margin-top: 21px;
      width: 286px;
      height: 22px;
      background: #FFFFFF;
      border: 2px solid #C9C9C9;
      border-radius: 3px;
      font-size: 18px;
      padding: 15px 15px 15px 15px;
    }

    .btn {
      margin-top: 21px;
      width: 320px;
      height: 56px;
      background: #48C9B0;
      border-radius: 3px;
      border: none;
      font-family: Lato-Regular;
      font-size: 24px;
      color: #FFFFFF;
    }

    div {
      margin-top: 15px; 
    }

    a {
      font-family: $lato;
      font-weight: $lato-normal;
      font-size: 14px;
      color: #919191;
    }
  }

  > div {
    margin-top: 23px;
    font-family: Lato-Regular;
    font-size: 18px;
    color: #5A5A5A;
  }

}


