@import "fonts";

#holdings {
  /*display: flex;*/
  /*flex-direction: row;*/
  padding-top: 10px;

  .column {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  h1 {
    font-family: $open-sans;
    font-weight: $open-sans-normal;
    font-size: 28px;
    color: #4A4A4A;
  }

  h2 {
    font-family: $open-sans;
    font-weight: $open-sans-bold;
    color: #4A4A4A;
    text-decoration: underline;
  }

  .left {
    width: 100%;
    padding-right: 70px;
  }

  .right {
    width: 100%;
  }

  .column {
    width: 100%;
    padding-bottom: 40px;
  }

  .row {
    width: 100%;
    font-family: $open-sans;
    font-weight: $open-sans-normal;
    font-size: 18px;
    color: #4A4A4A;
    line-height: 30px;
  }

  .tips {
    font-family: $open-sans;
    font-weight: $open-sans-normal;
    color: #4A4A4A;
    line-height: 25px;
  }
}
