

#payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;

  h1 {
    font-family: $lato;
    font-weight: $lato-light;
    color: #4A4A4A;
    text-align: center;
  }

}

#payment-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  background: #F3F5F7;
  border: 1px solid #979797;
  width: 540px;
  margin-top: 20px;
  padding-bottom: 30px;


  h2 {
    font-family: $open-sans;
    font-weight: $open-sans-normal;
    color: #4A4A4A;
    text-align: center;
  }
 
  #credit-card-checkout {
    display: flex;
    flex-direction: column;

    ::-webkit-input-placeholder {
      font-family: $lato;
      font-weight: $lato-normal;
      font-size: 18px;
      color: #B2B2B2;
      line-height: 22px;
    }
    
    input {
      height: 22px;
      background: #FFFFFF;
      border: 2px solid #C9C9C9;
      border-radius: 3px;
      font-size: 18px;
      padding: 15px 15px 15px 15px;
    }
    
    input + input {
      margin-top: 20px;
    }

    .btn {
      margin-top: 20px;
      width: 320px;
      height: 56px;
      background: #48C9B0;
      border-radius: 3px;
      border: none;
      font-family: Lato-Regular;
      font-size: 24px;
      color: #FFFFFF;
    }
    
   
  }

  table {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: $lato;
    font-weight: $lato-normal;
    font-size: 20px;
    color: #4A4A4A;
  }

  #paypal-checkout {
  }
}
