{% extends "base.html" %}

{% block body %}
  {{ super() }}

  <form id="checkout" method="post" action="{{ url_for('billing.subscribe') }}">
    {% if form.errors %}
      <ul class="list-unstyled text-danger field-error">
        {% for error in form.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <input data-braintree-name="number">
    <input data-braintree-name="cvv">
    <input data-braintree-name="expiration_date">

    {{ form.hidden_tag() }}
    <input type="submit" value="Pay now">
  </form>

  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  <script>
    var clientToken = "{{ token }}";

    braintree.setup(clientToken, "custom", {
      id: "checkout",
      onError: function (err) {
        alert(err);
      }
    });
  </script>

{% endblock %}
