{% extends "layout.html" %}

{% block stylesheet %}
  {{ super() }}
{% endblock %}

{% block title %}About Us{% endblock %}

{% block body %}
  {{ super() }}
  <div id="about">
    <h1>About Us</h1>
    <p>Starjar was founded by three Stanford graduates, who after graduating, headed to wallstreet,
    where they bulit complex strategies for some of the largest hedge funds in the world.
    Tired of hedge funds hogging all the best investment strategies for the super rich and eating
    up all the alpha in the market all while charging investors enourmous fees. They decided
    to create a company where the average investor can have access to some of the best investing 
    algorithms in the world and where stock picks were not hidden from investors and ridiculous 
    fees are not charged. And thus starjar was born.</p>
  </div>
{% endblock %}
