{% extends "layout.html" %}

{% block stylesheet %}
  {{ super() }}
{% endblock %}

{% block title %}About Us{% endblock %}

{% block body %}
  {{ super() }}
  <div class="content" id="about">
    <h1>About Us</h1>
    <p>EquityBuilder was founded to help the average investor invest smarter. Out preforming the market 
requires a serious time effort of researching stocks, placing trades, and battling emotions. Most Americans
don't even invest because of the immense effort required. EquityBuilder knows how important investing
is to growing your wealth, so we have created a simple low cost strategy that anyone can follow.</p>
  </div>
{% endblock %}
