{% import 'macros/flash.html' as flash %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <! -- jquery -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.7/components/dropdown.min.css">-->
    <!--<script src="//oss.maxcdn.com/semantic-ui/2.1.7/components/dropdown.min.js"></script>-->

    <!-- Optional theme -->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha256-sHwgyDk4CGNYom267UJX364ewnY4Bh55d53pxP5WDug= sha512-mkkeSf+MM3dyMWg3k9hcAttl7IVHe2BA1o/5xKLl4kBaP0bih7Mzz/DBy4y6cNZCHtE2tPgYBYH/KtEjOQYKxA==" crossorigin="anonymous">-->

    <!-- Latest compiled and minified JavaScript -->

    {% block stylesheet %}
      <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">-->
      <link rel="stylesheet" type="text/css" href="//127.0.0.1:3000/css/app.css">
      <!--<link rel="stylesheet" type="text/css" href="//feafCiKnag:NazHuchyir@ea010912.ngrok.io/css/app.css">-->
    {% endblock %}

    {% block script %}
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    {% block header %}{% endblock %}

    <div class="flash">
      {{ flash.render() }}
    </div>

    {% block body %}
    {% endblock %}

    {% block footer %}{% endblock %}
  </body>
  <script src="//127.0.0.1:3000/js/app.js"></script>
</html>
