{% extends "layout.html" %}

{% block stylesheet %}
  {{ super() }}
{% endblock %}

{% block title %}FAQ{% endblock %}

{% block body %}
  {{ super() }}
  <div class="content" id="faq">
    <h1>Frequently Asked Questions</h1>
    <div class="question">Why am I not receiving any emails?</div>
    <div class="answer">Please check your spam folder. If you're still not receiving them
      make sure you put down the correct email address. You can check your current email by clicking on the settings link
      at the top of the page after you login. If you are still having problems email us at support@equitybuilder.io, in the
      mean time you can check the current month holdings by logging in.</div>
    <div class="question">When will I receive the stock picks?</div>
    <div class="answer">You will receive the stock picks at the end of the month.</div>
    <div class="question">When should I buy these stocks?</div>
    <div class="answer">To maximize your profit, you should buy the stocks on the first trading day of every month.</div>
    <div class="question">Does it matter when I subscribe?</div>
    <div class="answer">No, it does not.</div>
    <div class="question">How do I cancel my subscription?</div>
    <div class="answer">Login, click on the settings link at the top of the page, click on subscription on the sidebar,
      then click on the red cancel button. Or click <a href="{{ url_for('user.subscription_settings') }}">here</a>.</div>
    <div class="question">Have more questions?</div>
    <div class="answer">Contact us at support@equitybuilder.io</div>
  </div>
{% endblock %}
