{% extends "layout.html" %}

{% block stylesheet %}
  {{ super() }}
{% endblock %}

{% block title %}EquityBuilder{% endblock %}

{% block body %}
  {{ super() }}

  <div id="investing-made-simple">
    <div class="content container">
      <div class="left">
        <h1>Investing Made Easier.</h1>
        <h2>EquityBuilder creates advanced investing strategies that are safe and outperform 
          <br>the market.</h2>
        <h2>Beat the market for only <strong>$10 / month.</strong></h2>
        <a href="{{ url_for('user.signup') }}" class="btn">Get Started  <i class="fa fa-arrow-right"></i></a>
      </div>
      <div class="right">
        <img src="/static/img/chart.png" alt="chart">
      </div>
    </div>
  </div>
  <hr>
  <div id="the-strategy">
    <div>
      <div class="content container">
        <h1>The Investment Strategy</h1>
        <div class="stats">
          <div class="annual-return">
            <div class="stat">11 %</div>
            <div class="stat-label">Annual Return</div>
            <div class="stat-description">Over the last 10 years the strategy on
              average has returned 11 % every year. This is the return you can
              expect from us. The average investor only returns 7 % per year.</div>
          </div>
          <div class="max-loss">
            <div class="stat">14 %</div>
            <div class="stat-label">Max Loss</div>
            <div class="stat-description">This is the max amount our strategy has ever lost,
              even through 2008, one of the worst financial crisis in US history. 
              To put this into perspective the average investor lost 55 % of there portfolio
              in 2008.</div>
          </div>
          <div class="total-return">
            <div class="stat">220 %</div>
            <div class="stat-label">Total Return</div>
            <div class="stat-description">Over the last 11 years the strategy has returned
              a total of 220 % that means you would have tripled your net worth.
              The average investor returned only 100 % during this time period.</div>
          </div>
        </div>
        <a href="{{ url_for('page.about_the_strategy') }}" class="btn">Learn more <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
  <hr>
  <div id="how-it-works">
    <div class="content container">
      <h1>How it works</h1>
      <div class="steps">
        <div class="left">
          <i class="fa fa-credit-card"></i>
          <h2>Step 1: Subscribe</h2>
          <p>Simply subscribe to our strategy for only $10 a month.
          All major credit cards and paypal accepted.</p>
        </div>
        <div class="right">
          <i class="fa fa-money"></i>
          <h2>Step 2: Buy the stocks</h2>
          <p>Every month you will get an email that will tell you
          what stocks to buy and how much of your portfolio to allocate
          to each stock.</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div id="why-us">
    <div class="content container">
      <h1>Why Us?</h1>
      <ul>
        <li>We provide a hedge fund level strategy but without the cost and requirements of an actually hedge fund.</li>
        <li>Our strategy is rigorously back tested to ensure it actually works.</li>
        <li>Using an automated strategy keeps your emotions out of the
        market. Just follow the strategy and you will win. We have hundreds of investors already using our strategy.</li>
      </ul>
      <a href="{{ url_for('user.signup') }}" class="btn">Subscribe Now<i class="fa fa-arrow-right"></i></a>
    </div>
  </div>
{% endblock %}
