{# TODO: Need to change the structure of this html page #}
{% extends 'base.html' %}
{% block header %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('page.home') }}">starjar</a>
        </div>
          <ul class="nav navbar-nav navbar-left">
            <li><a href="#">How it works</a></li>
            <li><a href="{{ url_for('strategy.strategies') }}">Strategies</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated() %}
              <li><a href="#">Subscriptions</a></li>
              <li><a href="#">Settings</a></li>
            {% else %}
              <li><a class="btn btn-default navbar-btn" id="login-button">Log in</a></li>
              <li><a class="btn btn-default navbar-btn">Sign up</a></li>
            {% endif %}
          </ul>
      </div>
    </nav>
{% endblock %}

