{% extends "layout.html" %}

{% block stylesheet %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/strategies.css') }}">
{% endblock %}

{% block title %}starjar{% endblock %}

{% block body %}
  {{ super() }}

  <div id="strategies" class="ui container">
    <h2>Strategies</h2>
    {% for strat in strats %}
      <a href="{{ url_for('strategy.strategy_details',
                          strategy_name=strat.name) }}">{{ strat.name }}</a>
    {% endfor %}
  </div>
{% endblock %}
