{% extends "layout.html" %}
{% block stylesheet %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/strategies.css') }}">
{% endblock %}
{% block title %}starjar{% endblock %}
{% block body %}
  {{ super() }}
  <div id="strategies" class="ui center aligned container">
    <h1 class="ui header">Strategies</h1>
    <div class="ui centered grid">
      <div class="ten wide column">
        <div class="ui divided items">

          <div class="item">
            <div class="ui small image">
              <img src="/images/wireframe/image.png">
            </div>
            <div class="middle aligned content">
              <div class="header">
              Content A
              </div>
              <div class="description">
              <p></p>
              </div>
              <div class="extra">
              <div class="ui right floated button">
                Action
              </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="content">
              <h3 class="header">Cute Dog</h3>
              <div class="description">
                <p>Hey guys</p>
                <p>Lets get rich haha mauhawhahh</p>
              </div>
              <div class="extra">
                <i class="green check icon"></i>
                121 Votes
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
